*.Administrator

*.axf
*.bak
*.bat
*.crf
*.css
*.d
*.dep
*.gif
*.htm
*.html
*.iex
*.ini
*.jpg
*.js
*.ld
*.lnp
*.lst
*.map
*.o
*.pdf
*.plg
*.png
*.sct
*.txt
*.uvopt
*.xsd

/HardWareLib/Libraries/CMSIS/DSP_Lib/Source/ARM
/HardWareLib/Libraries/CMSIS/DSP_Lib/Source/GCC
/HardWareLib/Libraries/CMSIS/DSP_Lib/Examples
/Project/MDK/Obj
/Project/MDK/lst